@font-face {
    font-family: 'Helvetica Neue LT Std85';
    src: url('../fonts/HelveticaNeueLTStd-Hv.woff2') format('woff2'),
        url('../fonts/HelveticaNeueLTStd-Hv.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'Helvetica Neue LT Std35';
    src: url('../fonts/HelveticaNeueLTStd-Th.woff2') format('woff2'),
        url('../fonts/HelveticaNeueLTStd-Th.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'Helvetica Neue LT Std45';
    src: url('../fonts/HelveticaNeueLTStd-Lt.woff2') format('woff2'),
        url('../fonts/HelveticaNeueLTStd-Lt.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('../fonts/helveticaneue.woff2') format('woff2'),
        url('../fonts/helveticaneue.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}