@charset "utf-8";
@import url(font-awesome.css);
body {
	margin: 0px;
	padding: 0px;
	font-size:12px;
	background-color: #fff;
	font-weight:400;   
	color:#0a1421;
	overflow-x:hidden;
	font-family: 'Helvetica Neue LT Std45';
}
*{
outline:none;
text-decoration:none;
}
p, ul, li, h1, h2, h3, h4, h5, h6 {
	padding:0px;
	list-style-type: none;
	font-weight:normal;
	margin:0px;	
}
.clear {
	clear:both;
}
a, a img{
	border:0px;
	text-decoration:none!important;
}
.containercp{
	max-width: 980px;
	padding-left: 15px;
	padding-right: 15px;
	margin: 0 auto;
}
.header{
	width: 100%;
	position: fixed;
	top: 0;
	z-index: 9999;
}
.voucher-wrap{
	text-align: center;
	height: 35px;
	background-color: #0072bc;
	padding: 6px 0px;
}
.voucher-wrap-inner input[type="text"]{	
	border:1px solid #fff;
	border-radius: 15px;
	height: 20px;
	color: #666;
	width: 180px;
	margin-right:7px;
	padding: 4px 10px;
}
.voucher-wrap-inner button{	
	border:1px solid #fff;
	border-radius: 15px;
	height: 20px;
	color: #fff;
	width: 94px;
	background:transparent;
}
.voucher-wrap-inner ::-webkit-input-placeholder {color: #888888; opacity:.6;}
.voucher-wrap-inner :-moz-placeholder {color: #888888; opacity:.6;}
.voucher-wrap-inner ::-moz-placeholder {color: #888888; opacity:.6;}
.voucher-wrap-inner :-ms-input-placeholder {color: #888888; opacity:.6;}

.header-resize{
	padding-top: 14px;
}
.header-left{
	float:left;
	width: 70%;
	position: relative;
}
.header-logo{
	width: calc(100% - 65px);
	background-image: url(../images/mainlogo.png);
	background-repeat: no-repeat;
	background-position: left center;
	height: 32px;
	float:left;
	margin-left: 35px;
}
.menu-logo{
	width: 100%;
	background-image: url(../images/menulogo.png);
	background-repeat: no-repeat;
	background-position: center center;
	height: 38px;
	margin-top: 20px;
	margin-bottom: 10px;
	/*
	margin-top: 40px;
	margin-bottom: 65px;
	*/
}
.header-menu{
	width: 100%;
	text-align: right;
	color: #fff;
}
.header-menu-ic{
	width: 26px;
	height: 24px;
	border: 0px;
	background-color: transparent;
	float:left;
	cursor: pointer;
	font-size: 28px;
	background-image: url(../images/icons/menu.png);
	background-repeat: no-repeat;
	background-position: center;
}
.header-close-ic {
    width: 100%;
    height: 24px;
    border: 0px;
    background-color: transparent;
    cursor: pointer;
    font-size: 28px;
    position: absolute;
    text-align: right;
    z-index: 99999;
    background-image: url(../images/icons/close.png);
    background-repeat: no-repeat;
    background-position: right center;
    right: -40px;
}
.header-menu-wrap{
	position: fixed;
	left: 0px;
	top: 0px;
	height: 100%;
	width: 100%;
	background-color: #0072bc;
	text-align: center;
	padding-top: 50px;
	-webkit-box-shadow: 0px 10px 17px 10px rgba(0,0,0,.08);
	box-shadow: 0px 10px 17px 10px rgba(0,0,0,.08);
	display: none;
	max-width: 390px;
	z-index: 9999;
}
.header-menu-wrap .overlay{
	position: fixed;
	content: '';
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,.3);
	left: 320px;
	top: 0px;
	z-index: 999;
}
.header-menu-wrap ul{
	display: block;
	padding: 30px 0px;
}
.header-menu-wrap ul li{
	display: block;
}
.header-menu-wrap ul li a{
	display: block;
	font-size: 26px;
	color: #fff;
	padding: 7px 0px 8px 0px;
	font-family: 'Helvetica Neue';
}
.header-menu-wrap ul li a:hover{
	color: #02385a;
}
.header-social{
	width: 100%;
	padding: 0px 0px 25px 0px;
	text-align: center;
}
.header-social a{
	width: 16px;
	height: 16px;
	margin: 8px;
	display: inline-block;
	background-color: #fff;
	color: #0072bc;
	text-align: center;
	border-radius: 50%;
}
.header-social a .fa{
	font-size: 10px;
	line-height: 16px;
}
.header-menu-wrap .copyright{
	color: #179ed0;
	font-size: 10px;
	text-align: center;
	max-width: 170px;
	margin: 0 auto;
}

.header-right{
	float:right;
	text-align: right;
	width: 30%;
	position: relative;
}
.header-language,.header-cart{
	display: inline-block;
	margin-left: 2px;
	padding-top: 7px;
}
.header-language .header-language-ic,.header-cart .header-cart-ic{
	font-size: 16px;
	width: 20px;
	height: 20px;
	border: 0px;
	background-color: transparent;
	color: #fff;
}



.header .fa:hover{
	color: #0072bc;
}


.lighthead.header{
	background-color: #fff;
	-webkit-box-shadow: 0px 7px 8px -3px rgba(0,0,0,.08);
	box-shadow: 0px 7px 8px -3px rgba(0,0,0,.08);
	height: 64px;
}
.header.lighthead .fa-bars,.header.lighthead .fa-shopping-cart, .header.lighthead .fa-globe{
	color: #000;
}
.lighthead.header .voucher-wrap{
	height: 0px;
	overflow: hidden;
	padding: 0px;
}
.lighthead.header .header-menu-ic{
	background-image: url(../images/icons/menu-dark.png);
	height: 28px;
}
.lighthead.header .header-close-ic{
	top: 20px;
}


/* banner all start*/
.herobanner{
	background-image: url(../images/slider/1.jpg);
}
.carglass-bg{
	background-image: url(../images/xtra/bg-one.jpg);
	background-attachment: fixed;
}
.carglassmain-bg{
	background-image: url(../images/xtra/bg-one.jpg);
}
.about-bg{
	background-image: url(../images/xtra/bg-two.jpg);
	background-attachment: fixed;
}
.shopall{
	background-image: url(../images/xtra/bg-three.jpg);
}
.lithiumbg{
	background-image: url(../images/xtra/bg-four.jpg);
}
.powerkit-bg{
	background-image: url(../images/xtra/bg-five.jpg);
}
.videobg{
	background-image: url(../images/xtra/videobg.jpg);
}

.lps-two{
	background-image: url(../images/xtra/lps-two.jpg);
}
.lps-three{
	background-image: url(../images/xtra/lps-three.jpg);
}

.banner,.banner-inner{
	position: relative;
	overflow: hidden;
	background-size: cover;
	background-position: center bottom;
	color: #fff;
}
.herobanner.banner{
	-webkit-box-shadow:inset 0 140px 150px -80px rgba(255,255,255,.7);
	box-shadow:inset 0 140px 150px -80px rgba(255,255,255,1);
}
.carglassmain-bg.banner,.carglass-bg.banner,.carglass-bg.banner,.subbanner.banner,.lps-two.banner{
	-webkit-box-shadow:inset 0 -140px 150px -80px rgba(0,114,188,.4);
	box-shadow:inset 0 -140px 150px -80px rgba(0,114,188,.4);
}
.banner-position{
	position: absolute;
	bottom: 60px;
	max-width: 475px;
}
.banner .banner-inner h2{
    font-size: 42px;
	color: #fff;
	font-family: 'Helvetica Neue LT Std85';
	position: relative;
	line-height: 42px;
	font-weight: 900;
	padding-bottom: 10px;
	text-shadow: 0 2px 5px rgba(25, 24, 24,0.2);
}
.banner .banner-inner h2 span{
	position: absolute;
	left:0px;
	top: -31px;
	display: inline-block;
	padding: 5px 28px;
	line-height: normal;
	font-family: 'Helvetica Neue';
	background-color: #0072bc;
	font-size: 11px;
	text-transform: uppercase;
	border-radius: 10px;
}
.banner .banner-inner p{
	font-family: 'Helvetica Neue LT Std45';
	font-size: 17px;
	padding: 44px 0px;
	text-shadow: 0 2px 5px rgba(25, 24, 24,0.2);
}

.banner.bannerv2 .banner-inner{
	text-align: center;
}
.banner.bannerv2 .banner-position{
	max-width: 100%;
	width: calc(100% - 30px);
}
.banner.bannerv3 .banner-inner{
	max-height: 615px;
}
.banner.bannerv3 .banner-inner h2{
    font-size: 28px;
	color: #fff;
	font-family: 'Helvetica Neue LT Std85';
	position: relative;
	line-height: 28px;
	font-weight: 900;
	padding-bottom: 0px;
}
.banner.bannerv3 .banner-inner p{
	font-family: 'Helvetica Neue LT Std45';
	font-size: 26px;
	padding: 0px 0px 44px 0px;
}

.banner.bannerv4{
	background-position: center;
}
.banner.bannerv4 .banner-inner{
	max-height: 460px;
	text-align: center;
}
.banner.bannerv4 .banner-inner h2{
    font-size: 28px;
	color: #fff;
	font-family: 'Helvetica Neue LT Std85';
	position: relative;
	line-height: 28px;
	font-weight: 900;
	padding-bottom: 0px;
	padding-top: 180px;
}
.banner.bannerv4 .banner-inner p{
	font-family: 'Helvetica Neue LT Std45';
    font-size: 16px;
    padding: 5px 0px 44px 0px;
}


.banner.bannerv5 .banner-position{
	bottom: 100px;
}
.banner.bannerv5 .banner-position h2 em{
	font-family: 'Helvetica Neue LT Std35';
    font-size: 34px;
    letter-spacing: 3px;
    padding: 5px 0px 44px 0px;
    font-style: normal;
}

.subbanner h2{
	text-align: center;
}

.banner .banner-inner a{
	display: inline-block;
	padding: 9px 37px;
	font-family: 'Helvetica Neue';
	font-size: 18px;
	border-radius: 35px;
	border:1px solid #fff;
	color: #fff;
	font-weight: 200;
	margin-top: 30px;
	min-width: 165px;
}
.banner .banner-inner a:hover{
	background-color: #0072bc;
	border-color: #0072bc;
}
/* banner all end*/

.partner{
	min-height: 220px;
	background-color: #212121;
}
.partner h2{
	color: #fff;
	letter-spacing: 3px;
	text-transform: uppercase;
	font-size: 9px;
	font-family: 'Helvetica Neue';
	padding: 40px 0px;
	text-align: center;
}
.partner ul{
	display: block;
	margin: 0 auto;
	text-align: center;
}
.partner ul li{
	text-align: center;
	display: inline-block;
	padding: 25px 5px;
}

.benefits-wrap{
	background-color: #212121;
	padding: 50px 0px 60px 0px;
	text-align: center;
}
.benefits-wrap-inner{
	max-width: 825px;
	margin: 0 auto;
}
.benefits-wrap h2{
	padding: 23px 0px 70px 0px;
	color: #fff;
	font-family: 'Helvetica Neue LT Std85';
	font-size: 28px;
}
.benefits-wrap .benefits-col{
	width:33%;
	display: inline-block;
	text-align: center;
	padding: 27px 25px;
}
.benefits-wrap .benefits-col h3{
	padding: 18px 0px 15px 0px;
	color: #0072bc;
	font-size: 13px;
	font-family: 'Helvetica Neue';
	text-transform: uppercase;
}
.benefits-wrap .benefits-col .benefits-icon{
	padding: 5px 0px 5px 0px;
	color: #fff;
	font-size: 22px;
}
.benefits-wrap .benefits-col p{
	padding: 15px 0px 5px 0px;
	color: #fff;
	font-size: 13px;
	font-family: 'Helvetica Neue LT Std35';
}
.benefits-wrap .benefits-col a{
	padding: 6px 0px 15px 0px;
	color: #fff;
	font-size: 18px;
}
.benefits-wrap .benefits-col a:hover{
	color: #0072bc;
}


.products-wrap{
	background-color: #ffffff;
	padding: 50px 0px 85px 0px;
	text-align: center;
}
.products-wrap-inner{
	max-width: 1200px;
	margin: 0 auto;
}
.products-wrap h2{
	padding: 23px 0px 70px 0px;
	color: #000;
	font-family: 'Helvetica Neue LT Std85';
	font-size: 29px;
}
.products-wrap .products-col{
	width:33%;
	display: inline-block;
	text-align: center;
	padding: 67px 0px;
}
.products-wrap .products-col .product-img{
	padding: 5px 0px 17px 0px;
	max-width: 210px;
	margin: 0 auto;
}
.products-wrap .products-col .product-img img{
	max-width: 100%;
}
.products-wrap .products-col h3{
	padding: 5px 30px 5px 30px;
	color: #fff;
	font-size: 19px;
	font-family: 'Helvetica Neue';
	background-color: #0072bc;
	display: inline-block;
	border-radius: 30px;
}
.products-wrap .products-col p{
	padding: 5px 0px 5px 0px;
	color: #000;
	font-size: 16px;
	font-family: 'Helvetica Neue';
}
.products-link{
	padding: 10px;
	text-align: center;
}
.products-link a{
	padding: 7px 36px 10px 36px;
	color: #fff;
	font-size: 18px;
	font-family: 'Helvetica Neue';
	background-color: #0072bc;
	display: inline-block;
	border-radius: 30px;
	margin-top: 56px;
	border:1px solid #0072bc;
}
.products-link a:hover{
	background-color: #fff;
	color: #0072bc;
}

.secondary-menu{
	background-color: #0072bc;
	height: 50px;
	width: 100%;
	clear: both;
}
.half-box{
	width: 50%;
	float: left;
}
.tf-box{
	max-width: 530px;
	clear: both;
}
.secondary-menu .dropdown-menu.dpright{
	right: 0px;
	left: auto;
}
.secondary-menu .dropdown button{
	border:0px;
	background-color: transparent;
	font-size: 15px;
	color: #fff;
	font-family: 'Helvetica Neue';
	padding: 12px 31px;
}
.secondary-menu .dropdown button .fa{
	font-size: 20px;
	position: relative;
	top: 2px;
	left: 1px;
	font-weight:normal;
}

.breadcrumb{
	background-color: transparent;
	text-align: left;
	font-size: 13px;	
	padding: 5px 12px 13px 12px;
}
.breadcrumb li,.breadcrumb li a,.breadcrumb .active{
	color: #000;
	font-family: 'Helvetica Neue LT Std45';
}
.breadcrumb > li + li:before{
	content: '>';
	color: #0072bc;
	display: none;
}
.breadcrumb li .fa{
	padding: 0 5px;
	color: #0072bc;
	font-size: 20px;
	position: relative;
	top: 2px;
}
.prod-wrap{
	background-color: #f1f1f1;
	padding: 20px 0px 30px 0px;
	text-align: center;
}
.prod-wrap-inner,.productdetail-wrap{
	padding-left: 6px;
	padding-right: 6px;
}
.prod-wrap h2{
	padding: 40px 9px 40px 9px;
	color: #000;
	font-family: 'Helvetica Neue LT Std85';
	font-size: 29px;
}
.prod-wrap .prod-col{
	width:calc(33.333% - 18px);
	margin: 9px;
	float: left;
	text-align: center;
	cursor: pointer;
	padding-bottom: 40px;
}

#productslider .prod-col{
	width:calc(100% - 18px);
	margin: 9px;
	float: left;
	text-align: center;
	cursor: pointer;
	padding-bottom: 40px;
}

.prod-wrap .prod-col .prod-img{
	padding: 55px 5px;
	background-color: #fff;
	margin: 0 auto;
	position: relative;
}
.prod-wrap .prod-col .prod-img img{
	width: 100%;
}
.prod-wrap .prod-col .prod-title{
	background-color: rgba(0,0,0,.4);
	position: absolute;
	left: 0px;
	top: 0px;
	text-align: center;
	width: 100%;
	height: 100%;
	color: #fff;
	font-size: 15px;
	font-family: 'Helvetica Neue';
	display: none;
	padding: 10%;
}
.prod-wrap .prod-col .prod-title span{
	top: 45%;
	position: relative;
}
.prod-wrap .prod-col:hover .prod-title{
	display: block;
}
.prod-wrap .prod-desc{
	display: block;
	padding: 10px 0px;
}
.prod-wrap .prod-desc span{
	font-size: 15px;
	font-family: 'Helvetica Neue LT Std45';
	text-align: right;
	width: 30%;
	display: block;
	float: left;
}
.prod-wrap .prod-desc span:first-child{
	font-family: 'Helvetica Neue';
	text-align: left;
	width: 70%;
}
.prod-link{
	padding: 10px;
	text-align: center;
	clear: both;
}
.prod-link a{
	padding: 7px 36px 10px 36px;
	color: #0072bc;
	font-size: 18px;
	font-family: 'Helvetica Neue';
	border:1px solid #0072bc;
	display: inline-block;
	border-radius: 30px;
	margin-top: 16px;
}

.subpage-wrap{
	background-color: #f1f1f1;
	padding-top: 80px;
}
.whitebg{
	background-color: #fff;
}
.subpage-inner{
	padding-bottom: 35px;
}
.reducemargin35{
	height: 0px;
	margin-top: -35px;
}
.subpage-inner h2 {
    font-size: 19px;
    font-family: 'Helvetica Neue';
    padding-bottom: 10px;
    padding-top: 20px;
}
.subpage-inner p {
    font-size: 13px;
    padding-top: 12px;
    padding-bottom: 20px;
    font-family: 'Helvetica Neue LT Std45';
    line-height: 19px;
}
big{
	line-height: 24px;
	font-family: 'Helvetica Neue';
	padding-bottom: 25px;
}

.productdetail-inner{
	padding-bottom: 55px;
}
.productdetail-left{
	width: calc(58% - 18px);
	float: left;
	margin: 6px 9px;
}

.productdetail-right{
	width: calc(42% - 18px);
	float: right;
	background-color: #fff;
	margin: 6px 9px 0px 9px;
	padding: 18px 18px 36px 18px;
}
.productdetail-right h2{
	font-size: 19px;
	font-family: 'Helvetica Neue';
	padding-bottom: 20px;
	padding-top: 10px;
}
.productdetail-right p{
	font-size: 13px;
	padding-top: 12px;
	padding-bottom: 20px;
	font-family: 'Helvetica Neue LT Std45';
	line-height: 19px;
}
.productdetail-right .productdetail-price{
	font-size: 19px;
	font-family: 'Helvetica Neue';
	padding-bottom: 20px;
	padding-top: 9px;
	color: #0072bc;
}
.productdetail-right .productdetail-price span{
	font-family: 'Helvetica Neue LT Std45';
	font-size: 10px;
	color: #000;
	display: block;
	margin-top: -2px;
}
.productdetail-totalprice{
	font-family: 'Helvetica Neue';
	color: #0072bc;
	font-size: 13px;
	padding-top: 6px;
	padding-bottom: 25px;
	cursor: pointer;
}
.productdetail-ctabutton{
	text-align: center;
	padding-top: 28px;
	padding-bottom:20px;
}
.productdetail-ctabutton a{
	text-align: center;
	padding: 7px 24px 10px 24px;
	background-color: #0072bc;
    color: #fff;
    font-size: 18px;
    font-family: 'Helvetica Neue';
    display: inline-block;
    border-radius: 30px;
    margin-top: 16px;
    border:1px solid #0072bc;
}
.productdetail-ctabutton a:hover{
	background-color: transparent;
	color:#0072bc;
}
.productdetail-right table{
	font-size: 13px;
	max-width: 220px;
	width: 100%;
	margin-top: 25px;
}
.productdetail-right table tr td{
	padding: 1px 0px 0px 0px;
	margin: 0px;
	font-family: 'Helvetica Neue LT Std45';
	font-size: 13px;
	text-align: left;
}
.productdetail-right table tr td:last-child{
	text-align: right;
}
.productdetail-right table tr td strong{
	font-family: 'Helvetica Neue';
	font-weight: normal;
	font-size: 13px;
}
.productdetail-right table tr td .txt-true{
	color: #0072bc;
}
.productdetail-right table tr td .txt-false{
	color: #bc0000;
}



.moredetails{
	background-color: #fff;
	padding: 25px 0px;
}
.moredetails-inner{
	height: 180px;
	overflow: hidden;
	position: relative;
}
.moredetails-inner.expanddiv{
	height: auto!important;
}
.moredetails-inner:before{
	content: '';
	position: absolute;
	width: 100%;
	left: 0px;
	bottom: 0px;
	height: 80px;
	z-index: 999;
	-webkit-box-shadow:inset 0 -140px 100px -80px rgba(255,255,255,1);
	box-shadow:inset 0 -140px 100px -80px rgba(255,255,255,1);
}
.moredetails-inner.expanddiv:before{
	display: none;
}
.moredetails-ctabutton{
	text-align: center;
	padding-top: 8px;
	padding-bottom:20px;
}
.moredetails-ctabutton a{
	text-align: left;
	padding: 7px 24px 10px 24px;
	min-width: 300px;
	background-color: #fff;
    color: #0072bc;
    font-size: 18px;
    font-family: 'Helvetica Neue';
    display: inline-block;
    border-radius: 30px;
    margin-top: 16px;
    border:1px solid #0072bc;
    cursor: pointer;
    position: relative;
}
.moredetails-ctabutton a:hover{
	background-color: #0072bc;
	color: #fff;
}
.moredetails-ctabutton a .fa{
	position: absolute;
    right: 20px;
    top: 11px;
}
.moredetails-inner .half-box{
	padding-right: 20px;
	padding-left: 20px;
}
.moredetails-inner h2{
	font-size: 19px;
	font-family: 'Helvetica Neue';
	padding-bottom: 10px;
	padding-top: 30px;
}
.moredetails-inner p{
	font-size: 13px;
	padding-top: 12px;
	padding-bottom: 20px;
	font-family: 'Helvetica Neue LT Std45';
	line-height: 19px;
}

.cdate{
	font-size: 15px;
	color: #0072bc;
	font-family: 'Helvetica Neue LT Std45';
}








/* footter-menu-wrap end*/
.footter-menu{
  width: 100%;
  color: #fff;  
  background-color: #0072bc;
}
.footter-menu-wrap{
  height: 100%;
  width: 100%;
  text-align: center;
  padding-top: 110px;
  z-index: 9999;
}+
.footter-menu-wrap .menu-logo{
  height: 38px;
  padding: 0px;
  margin: 0px;
}
.footter-menu-wrap ul{
  display: block;
  padding: 100px 0px;
}
.footter-menu-wrap ul li{
  display: inline-block;
}
.footter-menu-wrap ul li a{
  display: inline-block;
  font-size: 18px;
  color: #fff;
  padding: 4px 8px 10px 8px;
  font-family: 'Helvetica Neue';
}
.footter-menu-wrap ul li a:hover{
	color: #02385a;
}
.footter-social{
  width: 100%;
  padding: 0px 0px 25px 0px;
  text-align: center;
}
.footter-social a{
  width: 18px;
  height: 18px;
  margin: 8px;
  display: inline-block;
  background-color: #fff;
  color: #0072bc;
  text-align: center;
  border-radius: 50%;
}
.footter-social a:hover,.header-social a:hover{
	background-color: #daeaf5;
}
.footter-social a .fa{
  font-size: 11px;
  line-height: 20px;
}
.footter-menu-wrap .copyright{
  color: #179ed0;
  font-size: 11px;
  text-align: center;
  max-width: 100%;
  margin: 0 auto;
  padding-bottom: 36px;
  padding-top: 45px;
}


@media (max-width: 768px) {
.footter-menu-wrap{
  padding-top: 50px;
}
.footter-menu-wrap ul li{
  display: block;
}
.footter-menu-wrap ul li a{
  display: block;
  padding: 2px 8px 2px 8px;
}
.footter-menu-wrap ul{
	padding: 50px 0px 37px 0px;
}
.footter-menu-wrap .copyright{
	padding-bottom: 25px;
    padding-top: 25px;
}
.header-menu-wrap{
	max-width: 100%!important;
}
.header-menu-wrap .overlay{
	display: none!important;
}
.header-close-ic{
	right: 30px;
}
.benefits-wrap .benefits-col {
    width: 100%;
    display: block;   
    max-width: 300px;
    margin: 0 auto;
}
.products-wrap .products-col {
    width: 100%;
    display: block;
    padding: 30px 0px 10px 0px;
}

.productdetail-left,.productdetail-right{
	width: calc(100% - 18px);
}

/* sub page css start*/
.prod-wrap .prod-col{
	width:calc(100% - 18px);
	float: none;
}
.breadcrumb{
	display: none;
}
.productdetail-inner{
	padding-bottom: 0px;
}
.moredetails{
	margin-right:15px;
	margin-left: 15px;
}
.moredetails-inner .half-box{
	padding-right: 0px;
	padding-left: 0px;
	width: 100%;
}
/* sub page css end*/

}